<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%# To render root homepage %>
<%if !@randItem.nil?%>
    
    <h1>Here's an item we think you would like:</h1>
        <% @randItem.each do |item| %>
        <div class = "card">
                <%= link_to item.name, show_item_path(:id => item.id), method: :get %>
                <small>$<%=item.price%> <br> <%=item.description%></small>
                
                <div class = "image-button-container">
                    <%= link_to(image_tag(item.image, width: 200), show_item_path(:id => item.id)) %>
                    <div class = "float-btn">
                        <%= button_to toggle_item_saved_list_path(:id => item.id), method: :post do %>
                            <%if logged_in? %>
                                <%if @savedListItems.include? item %>
                                    <%= image_tag("/assets/filledheart.jpg", class: "float-img")%>
                                <%else%>
                                    <%= image_tag("/assets/emptyheart.jpg", class: "float-img")%>
                                <%end%>
                            <%else%>
                                <%= image_tag("/assets/emptyheart.jpg", class: "float-img")%>
                            <%end%>
                        <%end%>
                    </div>
                </div>
            </div>
        <%end%>
    
    
        <h1>Popular items in our shop:</h1>
        <% @popItems.each do |item| %>
            <div class = "card">
                <%= link_to item.name, show_item_path(:id => item.id), method: :get %>
                <small>$<%=item.price%> <br> <%=item.description%></small>
                
                <div class = "image-button-container">
                    <%= link_to(image_tag(item.image, width: 200), show_item_path(:id => item.id)) %>
                    <div class = "float-btn">
                        <%= button_to toggle_item_saved_list_path(:id => item.id), method: :post do %>
                            <%if logged_in? %>
                                <%if @savedListItems.include? item %>
                                    <%= image_tag("/assets/filledheart.jpg", class: "float-img")%>
                                <%else%>
                                    <%= image_tag("/assets/emptyheart.jpg", class: "float-img")%>
                                <%end%>
                            <%else%>
                                <%= image_tag("/assets/emptyheart.jpg", class: "float-img")%>
                            <%end%>
                        <%end%>
                    </div>
                </div>
            </div>
            
        <%end%>
<%end%>

