<%= form_with url: forgot_password_session_path do |f| %>
<h2>Forgot your password?</h2>
<p>Enter the email for your account, and we will send you a link to login.</p>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Send Email' %>
  </div>
<% end %>


<br><br><br><br><br><br>

<% flash.each do |type, msg| %>
  <div>
    <h2><%= msg %></h2>
  </div>
<% end %>