<p id="notice"><%= notice %></p>

<p>You currently have <%=@total_items%> total items and <%=@uniq_items%> types of items.</p>

<%if !@items.nil?%>
        <h1>Your bag</h1>
        <% @items.each do |item| %>
            <% @bag_items.each do |bag_item| %>
                <div class = "card">
                    <%= link_to item.name, show_item_path(:id => item.id), method: :get %>
                    <small>$<%=item.price%> <br> <%=item.description%> <br>
                    Size: <%=bag_item.size%> <br> Color: <%=bag_item.color%> <br>
                    Quantity: <%=bag_item.quantity%></small>
                    
                    <div class = "image-button-container">
                        <%= link_to(image_tag(item.image, width: 200), show_item_path(:id => item.id)) %>
                        <div class = "float-btn">
                            <%= button_to toggle_item_saved_list_path(:id => item.id), method: :post do %>
                                <%if logged_in? %>
                                    <%if @savedListItems.include? item %>
                                        <%= image_tag("/assets/filledheart.png", class: "float-img")%>
                                    <%else%>
                                        <%= image_tag("/assets/emptyheart.png", class: "float-img")%>
                                    <%end%>
                                <%else%>
                                    <%= image_tag("/assets/emptyheart.png", class: "float-img")%>
                                <%end%>
                            <%end%>
                        </div>
                    </div>
                    <%= link_to 'Remove from bag', remv_from_bag_path(:id => item.id), method: :post %>
                </div>
            <%end%>
        <%end%>
        
        <form action=<%= checkout_bag_path(:id => current_user.id) %> method = "post">
            <input type="submit" value="Checkout" />
        </form>
<%end%>

<h2><bold>Price: $<%= @price %></bold></h2>



