
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<h1> Here are your filtered results...</h1> <br>
<h1><%=@collection%></h1>
        <% @items.each do |item| %>
            <div class = "card">
                <%= link_to item.name, show_item_path(:id => item.id), method: :get %>
                <small>$<%=item.price%> <br> <%=item.description%></small></p>
                <%= image_tag(item.image, width: 200) %>
                <%= button_to '+', add_to_saved_list_path(:id => item.id), method: :post %>
            </div>
        <%end%>