<h3>Search Result</h3>  

    <% @results.each do |result| %>  
        <div class = "card">
                <%= link_to result.name, show_item_path(:id => result.id), method: :get %>
                <small>$<%=result.price%> <br> <%=result.description%></small>
                
                <div class = "image-button-container">
                    <%= link_to(image_tag(result.image, width: 200), show_item_path(:id => result.id)) %>
                    <div class = "float-btn">
                        <%= button_to toggle_item_saved_list_path(:id => item.id), method: :post do %>
                            <%if logged_in? %>
                                <%if @savedListItems.include? item %>
                                    <%= image_tag "https://cdn2.iconfinder.com/data/icons/peppyicons/512/heart-512.png", class: "float-img"%>
                                <%else%>
                                    <%= image_tag "https://cdn0.iconfinder.com/data/icons/thin-voting-awards/57/thin-233_heart_favorite_like-512.png", class: "float-img"%>
                                <%end%>
                            <%else%>
                                <%= image_tag "https://cdn0.iconfinder.com/data/icons/thin-voting-awards/57/thin-233_heart_favorite_like-512.png", class: "float-img"%>
                            <%end%>
                        <%end%>
                    </div>
                </div>
            </div>
    <% end %>