<p id="notice"><%= notice %></p>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag(@item.image, width: 1100, height: 500, alt: "Image 1") %>
     
    </div>
    <div class="carousel-item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/1024px-Ruby_logo.svg.png" alt="Image 2" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" alt="Image 3" width="1100" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>


<p>
  <strong>Popularity:</strong>
  <%= @item.popularity %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @item.collection %>
</p>

<%= form_with url: add_to_bag_path(:id => @item.id), method: :post do |f| %>
<p>
    <b>Size</b><br />
    <%= f.radio_button :size, 'Large' %> Large<br />
    <%= f.radio_button :size, 'Medium' %> Medium<br />
    <%= f.radio_button :size, 'Small' %> Small<br />
</p>

<p>
    <b>Color</b><br />
    <%= f.radio_button :color, 'Red' %> Red<br />
    <%= f.radio_button :color, 'Green' %> Green<br />
    <%= f.radio_button :color, 'Blue' %> Blue<br />
</p>
<p>
    <b>Quantity</b><br />
    <%= f.select :quantity, options_for_select(0..10) %>
</p>

  <%= f.submit "Add to bag" %>

<% end %>


<br><br>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
