<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@item.image, width: 200) %>
</p>


<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>


<p>
  <strong>Popularity:</strong>
  <%= @item.popularity %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @item.collection %>
</p>

<%= form_with url: add_to_bag_path(:id => @item.id), method: :post do |f| %>
<p>
    <b>Size</b><br />
    <%= f.radio_button :size, 'Large' %> Large<br />
    <%= f.radio_button :size, 'Medium' %> Medium<br />
    <%= f.radio_button :size, 'Small' %> Small<br />
</p>

<p>
    <b>Color</b><br />
    <%= f.radio_button :color, 'Red' %> Red<br />
    <%= f.radio_button :color, 'Green' %> Green<br />
    <%= f.radio_button :color, 'Blue' %> Blue<br />
</p>
<p>
    <b>Quantity</b><br />
    <%= f.select :quantity, options_for_select(0..10) %>
</p>

  <%= f.submit "Add to bag" %>

<% end %>


<br><br>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
