<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag(@item.image, width: 1100, height: 500, alt: "Image 1") %>
     
    </div>
    <div class="carousel-item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/1024px-Ruby_logo.svg.png" alt="Image 2" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" alt="Image 3" width="1100" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<h2>
  <strong>Price: $</strong>
  <%= @item.price %>
</h2>

<h2>
  <strong>Name:</strong>
  <%= @item.name %>
</h2>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>


<p>
  <strong>Popularity:</strong>
  <%= @item.popularity %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @item.collection %>
</p>


<%= form_with url: logged_in? ? add_to_bag_path(:id => @item.id) : new_session_path, method: :post do |f| %>
<p>
    <b>Size</b><br />
    <%if @item.small %>
      <%= f.radio_button :size, 'Small' %> Small<br />
    <%else%>
      <p>We don't make this item in this small or it is out of stock at this size.</p>
    <%end%>
    <%if @item.medium %>
      <%= f.radio_button :size, 'Medium' %> Medium<br />
    <%else%>
      <p>We don't make this item in this medium or it is out of stock at this size.</p>
    <%end%>
    <%if @item.large %>
      <%= f.radio_button :size, 'Large' %> Large<br />
    <%else%>
      <p>We don't make this item in this large or it is out of stock at this size.</p>
    <%end%>
</p>

<p>
    <b>Color</b><br />
    <%if @item.color1 %>
      <%= f.radio_button :color, @item.color1 %> <%= @item.color1 %><br />
    <%end%>
    <%if @item.color2 %>
      <%= f.radio_button :color, @item.color2 %> <%= @item.color2 %><br />
    <%end%>
    <%if @item.color3 %>
      <%= f.radio_button :color, @item.color3 %> <%= @item.color3 %><br />
    <%end%>
</p>
<p>
    <b>Quantity</b><br />
    <%= f.select :quantity, options_for_select(1..10) %>
</p>
  
  <%= f.submit "Add to bag" %>

<% end %>

<h2 id="notice"><%= notice %></h2>

<br><br>

