<p id="notice"><%= notice %></p>

<%if !@items.nil?%>
        <h1><%=@collection%></h1>
        <% @items.each do |item| %>
            <div class = "card">
                <%= link_to item.name, show_item_path(:id => item.id), method: :get %>
                <small>$<%=item.price%> <br> <%=item.description%></small></p>
                <%= image_tag(item.image, width: 200) %>
                <%= link_to 'Remove from saved list', remv_from_saved_list_path(:id => item.id), method: :post %>
            </div>
        <%end%>
<%end%>

