<p id="notice"><%= notice %></p>

<%if !@items.nil?%>
        <h1><%=@collection%></h1>
        <% @items.each do |item| %>
            <div class = "card">
                <p><%=item.name%> <br>
                <small>$<%=item.price%> <br> <%=item.description%></small></p>
                <%= image_tag(item.image, width: 200) %>
            </div>
        <%end%>
<%end%>

